

body{
    background-color: #00091a;
    color: #99cc00;
    font-weight: bold;
    font-size: large;
    font-family: 'Give You Glory', cursive;
    text-align: center;
}
h1,h3{
    text-align: center;
}

.category{
    position: fixed;
    top: 20%;
    left: 3%;
    height: 47;
    width: 20%;
}

#hinttext{
    word-wrap: break-word;
}

#hangimage{
    position: fixed;
    top: 14%;
    left: 27%;
    width: 47%;
    height: 57%;
}
#currentWord{
    position: fixed;
    top: 75%;
    left: 27%;
    width: 45%;
    height: 15%;
    text-align: center;
    font-size: xx-large;
    letter-spacing: 3px;
}
.alphaButton{
    position: fixed;
    top: 26%;
    left: 76%;
    width: 23%;
    border-width: 3px;
    border-style: ridge;
}
.alphabets{
    margin: 3px;
    width: 25px;
    font-size: medium;
    font-weight: bold;
    border-radius: 9px;
    background-color: #00091a;
    color: grey;
}
.alphabets:enabled{
    background-color: #99cc00;
    color: #00091a;
}

#reset{
   position: fixed;
    top: 86%;
    left: 42%;
    width: 15%;
    height: 7%;
    font-size: larger;
    
}


@media only screen  and (max-device-height : 320px)  
{
    h1,h3{
    font-size: large;
    
    }
    .category{
        position: fixed;
        top: 12%;
        left: 3%;
        height: 47;
        width: 20%;
    }
    #hangimage{
        position: fixed;
        top: 10%;   
        left: 27%;
        width: 43%;
        height: 53%;
    }
    #currentWord{
        position: fixed;
        top: 67%;
        left: 25%;
        font-size: x-large;
        /*width: 45%;
        height: 15%;
        text-align: center;
        font-weight: bold;
        letter-spacing: 3px;*/
    }
    #reset{
    position: fixed;
        top: 78%;
        left: 39%;
        width: 17%;
        height: 7%;
        
        /*
        font-size: larger;
        font-weight: bold;*/
    }
   .alphaButton{
    position: fixed;
    top: 11%;
    left: 74%;
    width: 23%;
    border-width: 3px;
    border-style: ridge;
    }

}