
body{
    background-color: #00091a;
    color: #99cc00;
    font-weight: bold;
    font-size: large;
    font-family: 'Give You Glory', cursive;
    text-align: center;
}
#inst{
    position: fixed;
    top:1%;
    left: 83%;
    list-style: none;
}
#directions{
    position: fixed;
    top:3%;
    left: 5%;
    width: 90%;
    height:90%;
    background-color:#00091a;
    font-size:x-large;
    border-style: ridge;
    text-align: center;
}

.category{
    position: fixed;
    top: 20%;
    left: 3%;
    height: 47;
    width: 20%;
}

#hint{
    border-radius: 13px;
}

#hinttext{
    word-wrap: break-word;
}


#hangimage{
    position: fixed;
    top: 15%;
    left: 27%;
    width: 47%;
    height: 57%;
}
#currentWord{
    position: fixed;
    top: 72%;
    left: 27%;
    width: 45%;
    height: 15%;
    text-align: center;
    font-size: xx-large;
    letter-spacing: 3px;
}
.alphaButton{
    position: fixed;
    top: 26%;
    left: 76%;
    width: 23%;
    border-width: 3px;
    border-style: ridge;
    border-radius: 6px;
}
.alphabets{
    margin: 3px;
    width: 25px;
    font-size: medium;
    font-weight: bold;
    border-radius: 9px;
    background-color: #00091a;
    color: grey;
}
.alphabets:enabled{
    background-color: #99cc00;
    color: #00091a;
}

#reset{
   position: fixed;
    top: 86%;
    left: 42%;
    width: 15%;
    height: 7%;
    font-size: larger;
    border-radius: 13px;
}

/* --------- mobile landscape----------*/
@media only screen  and (max-device-height : 736px)  
{
   body{
    font-size: small;
 }

 .category{
        position: fixed;
        top: 12%;
        left: 2%;
        height: 80%;
        width: 20%;
    }
    #hangimage{
        position: fixed;
        top: 20%;   
        left: 24%;
        width: 45%;
        height: 45%;
    }
    
    #currentWord{
        position: fixed;
        top: 63%;
        left: 25%;
        font-size: x-large;
        
    }
    #reset{
        position: fixed;
        top: 80%;
        width: 20%;
        left: 37%;
        height: 10%;
    }
   .alphaButton{
        position: fixed;
        top: 17%;
        left: 70%;
        width: 28%;
        border-width: 3px;
        border-style: ridge;
    }
    #directions{
        font-size:medium;
        height:80%;
    }

}

/*----mobile potrait-----*/
 @media only screen  and (max-device-width : 414px)    
{
   body{
    font-size:medium;
    }
    .category{
        position: fixed;
        top: 11%;
        left: 2%;
        height: 80%;
        width: 20%;
    }
    #hangimage{
        position: fixed;
        top: 14%;   
        left: 35%;
        width: 50%;
        height: 40%;
    }
    #currentWord{
        position: fixed;
        top: 55%;
        left: 30%;
        font-size: medium;
    }
    #reset{
        position: fixed;
        top: 65%;
        width: 20%;
        left: 47%;
        height: 8%;
    }
   .alphaButton{
        position: fixed;
        top: 75%;
        left: 3%;
        width: 93%;
    }
    #directions{
        font-size:medium;
    }
    #inst{
        left:80%;
        font-size: small;
    }

}

